{% extends 'base.html.twig' %}
{% block title %}Mon profil {% endblock %}
{% block body %}
    {% if app.user %}
        <div id="centre">
        <h1>Mon profil</h1>
        </div>
        <div id="conteneur">

            <article>
                <div class="row_profil_photo">
{#                    <p class="row_label">Votre photo de profil : </p>#}
                    <img class="img_user profil row_label" src="{{ app.user.photo ? asset('uploads/users/' ~ app.user.photo) : asset('images/user.png') }}"
                         alt="User-Photo_profil">

                </div>
            </article>
            <article>

                <div class="row_profil">
                    <p class="row_label">Votre pseudo : </p>

                    <p><strong>{{ app.user.username }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre nom : </p>
                    <p><strong>{{ app.user.nom }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre prenom : </p>
                    <p><strong>{{ app.user.prenom }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre numéro de téléphone : </p>
                    <p><strong>{{ app.user.telephone }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre email : </p>
                    <p><strong>{{ app.user.mail }}</strong></p>
                </div>

                <div class="row_profil">
                    <a href="{{ path('_modifier', {'id': app.user.id}) }}">
                        {% if app.user.actif and app.user.roles == ['ROLE_USER'] %}<button>Modifier</button>{% endif %}
                    </a>
                </div>

            </article>



        </div>
    {% endif %}
{% endblock %}


