{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div id="conteneur">

            <article>
                <div class="row_profil">
                    <p class="row_label">Votre photo de profil : </p>
                    <img class="img_user profil row_label" src="{{ asset('uploads/users/' ~app.user.photo ) }}"
                         alt="User-Photo_profil">

                </div>
                <div class="row_profil">
                    <p class="row_label">Votre pseudo : </p>

                    <p><strong>{{ app.user.username }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre nom : </p>
                    <p><strong>{{ app.user.nom }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre prenom : </p>
                    <p><strong>{{ app.user.prenom }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre numéro de téléphone : </p>
                    <p><strong>{{ app.user.telephone }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label">Votre email : </p>
                    <p><strong>{{ app.user.mail }}</strong></p>
                </div>
                <a href="{{ path('_modifier', {'id': app.user.id}) }}">
                        <button>Modifier</button>
                    </a>
            </article>


        </div>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

