{% extends 'base.html.twig' %}

{% block body %}

        <div id="form_connexion">
            <h1>Modifier votre profil</h1>
            {{ form_start(userForm) }}
            <div class="form_connexion">
                {{ form_row(userForm.username) }}
                {{ form_row(userForm.nom) }}
                {{ form_row(userForm.prenom) }}
                {{ form_row(userForm.telephone) }}
                {{ form_row(userForm.mail) }}
                {{ form_row(userForm.photo) }}
                {{ form_row(userForm.password) }}

            <button>Enregistrer</button>
            </div>
            {{ form_end(userForm) }}
        </div>

{% endblock %}

{% block title %}

{% endblock %}

