{% extends 'base.html.twig' %}

{% block body %}
    {% if user.id %}
        <div id="conteneur">

         <article>
             <div class="row_profil_photo">
                 {#                    <p class="row_label">Votre photo de profil : </p>#}
                 <img class="profil row_label" src="{{ user.photo ? asset('uploads/users/' ~ user.photo) : asset('images/user.png') }}"
                      alt="User-Photo_profil">
             </div>
         </article>


            <article>
                <div class="row_profil">
                    <p class="row_label"> Pseudo : </p>

                    <p><strong>{{ user.username }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label"> Nom : </p>
                    <p><strong>{{ user.nom }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label"> Prenom : </p>
                    <p><strong>{{ user.prenom }}</strong></p>
                </div>
                <div class="row_profil">
                    <p class="row_label"> Email : </p>
                    <p><strong>{{user.mail }}</strong></p>
                </div>
            </article>


        </div>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

