{% extends 'base.html.twig' %}

{% block title %}Téléchargement Fichier{% endblock %}

{% block body %}
    <h1>Upload File</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin') }}">back to dashboard</a>
{% endblock %}

