{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <div id="centre">
    <h1>{{ sortie.nom }}</h1>

    <section id="details">
        <div id="titre">
            <strong>
            {{ sortie.descriptioninfos }}
            {{ sortie.lieu.nomLieu}}
            {{ sortie.lieu.rue ~ ' '~ sortie.lieu.ville.codePostal ~' '~ sortie.lieu.ville.nomVille}}
            </strong>
        </div>
        <div id="dateHoraire">
            <span>Date du début de la sortie : </span><strong>{{ sortie.datedebut ? sortie.datedebut|date('d/m/y H:i') : '' }}</strong><br>
            <span>Durée de la sortie : </span><strong>{{ sortie.duree }}</strong><br>
                <span>Date de fin d'inscription à la sortie : </span><strong>{{ sortie.datecloture ? sortie.datecloture|date('d/m/y H:i') : '' }}</strong><br>
        </div>
        <div id="infoAdmin">
            <span>Nombre de participants maximum : </span><strong>{{ sortie.nbinscriptionsmax }}</strong><br>
            <span>l'État de la sortie : </span><strong>{{ sortie.etat.libelle }}</strong><br>
            <span>Le nom de la personne organisatrice : </span><strong>{{ sortie.organisateur.username}}</strong><br>
        </div>
    </section>

        <h1>Participants</h1>
    {% if inscriptions is empty %}
        <div id="conteneur">
        <p class="none_result">Aucun participant</p>
        </div>
    {% endif %}
    {% if inscriptions is not empty %}
        <table class="table table-responsive">
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>

                {% for chaqueInscription in inscriptions %}
                <tr>
                    <td><a href="{{ path('_profil_inscrit',{'id':chaqueInscription.userId.id}) }}">{{ chaqueInscription.userId.username}}</a></td>
                    <td>{{ chaqueInscription.userId.prenom }} {{ chaqueInscription.userId.nom }}</td>
                </tr>
                {% endfor %}

        </table>
{% endif %}




    <a href="{{ path('_list') }}">Retourner à liste des sorties</a>
    </div>
{% endblock %}
