{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <ul>
        {% for chaqueSortie in sorties %}
            <li id="sorties">
                <a id="" href="{{ path('_detail',{'sortie':chaqueSortie.id}) }}">{{ chaqueSortie.nom }}
                    <span id="infoSortie">
                      {{ chaqueSortie.lieu.nomLieu }}
                        {{ chaqueSortie.datedebut | date('d/m/y H:i')}}
                        {{ chaqueSortie.lieu.ville.nomVille}}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('_creer') }}">Organiser une nouvelle sortie</a>
{% endblock %}
