{% extends 'base.html.twig' %}

{% block body %}


{#    <div class="">#}
        <h1> Filtrer les sorties </h1>
            <div class="form_search">
                {{ form_start(form) }}
                    <div class="form_block">
                        {{ form_row(form.campus)}}
                        {{ form_row(form.q)}}
                            <div class="form_date">
                                {{ form_row(form.datemin)}}
                                {{ form_row(form.datemax)}}
                            </div>
                    </div>
                    <div class="form_block">
                        {{ form_row(form.organisateur)}}
                        {{ form_row(form.inscrit)}}
                        {{ form_row(form.nonInscrit)}}
                        {{ form_row(form.sortiePassee)}}
                    </div>
                    <div class="form_block">
                        <button> Filtrer </button>
                    </div>
                {{ form_end(form) }}
            </div>


        {% if sorties is empty %}
            <p class="none_result">Aucun resultat</p>
        {% endif %}
        {% if sorties is not empty %}
            <div class="div_tab">
            <table class="table table-responsive">
                <tr>
                    <th>Sortie</th>
                    <th>Date</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Statut</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                <div class="list-group-item" data-searchSortie-target="results">
                    {% for chaqueSortie in sorties %}

                        {% if sorties is not null %}
                            <tr>

                                <td><a id=""
                                       href="{{ path('_detail',{'sortie':chaqueSortie.id}) }}">{{ chaqueSortie.nom }}
                                </td>
                                <td>{{ chaqueSortie.datedebut | date('d/m/y H:i') }}</td>
                                <td>{{ chaqueSortie.dateCloture | date('d/m/y H:i') }}</td>
                                <td>{% if chaqueSortie.inscriptions | length == chaqueSortie.nbinscriptionsmax %}
                                        COMPLET
                                    {% else %}{{ chaqueSortie.inscriptions | length }}/{{ chaqueSortie.nbinscriptionsmax }}
                                        {% endif %}
                                </td>
                                <td>{{ chaqueSortie.etat.libelle }}</td>
                                <td>    {% if chaqueSortie.estInscrit(app.user) == 1 %}
                                        Inscrit
                                    {% else %}
                                        Non Inscrit
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('_profil_inscrit', {'id': chaqueSortie.organisateur.id}) }}">{{ chaqueSortie.organisateur.username }}</a>
                                </td>
                                <td>
                                    {% if app.user != chaqueSortie.organisateur %}
                                        <a href="{{ path('_detail',{'sortie': chaqueSortie.id}) }}">Afficher</a>
                                        {% if chaqueSortie.estInscrit(app.user) !=1 and chaqueSortie.etat.id ==2 %}
                                            <a href="{{ path('_inscrire',{'sortie': chaqueSortie.id}) }}"> -
                                                S'inscrire</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if app.user == chaqueSortie.organisateur %}
                                        {% if chaqueSortie.etat.id != 6 %}
                                            <a href="{{ path('app_sortie_edit',{'id': chaqueSortie.id}) }}">Modifier</a>
                                        {% endif %}
                                        {% if chaqueSortie.etat.id == 1 %}
                                            <a href="{{ path('_publier',{'sortie': chaqueSortie.id}) }}"> - Publier</a>
                                        {% endif %}
                                        {% if chaqueSortie.etat.id == 2 %}
                                            <a href="{{ path('_motif_annuler',{'sortie': chaqueSortie.id}) }}"> -
                                                Annuler</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if chaqueSortie.estInscrit(app.user) == 1 and chaqueSortie.etat.id != 6 %}
                                        <a href="{{ path('_desister',{'sortie': chaqueSortie.id}) }}"> - Se désister</a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                </div>
            </table>
            </div>
        {% endif %}
    </div>




    <a href="{{ path('_creer') }}"><button>Organiser une nouvelle sortie</button></a>
{% endblock %}
