{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <div class="">
        <h1> Filtrer les sorties </h1>
            <div class="form_search" {{ stimulus_controller('serch-preview', { url: path('_list')}) }}>
                {{ form_start(form) }}
                {{ form_row(form.campus)}}
                <div class="form-control" data-action="search-preview#onSearchInput">{{ form_row(form.q)}} </div>
                {{ form_row(form.datemin)}}
                {{ form_row(form.datemax)}}
                {{ form_row(form.organisateur)}}
                {{ form_row(form.inscrit)}}
                {{ form_row(form.nonInscrit)}}
                {{ form_row(form.sortiePassee)}}
                <button>Filtrer</button>
                {{ form_end(form) }}
            </div>

        <h2>Liste des sorties</h2>

        <table class="table table-responsive">
            <tr>
                <th>Sortie</th>
                <th>Date</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Statut</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>

            <div class="list-group-item" data-search-preview-target="result">
                {% for chaqueSortie in sorties %}
                    <tr>
                        <td> <a id="" href="{{ path('_detail',{'sortie':chaqueSortie.id}) }}">{{ chaqueSortie.nom }}</td>
                        <td>{{ chaqueSortie.datedebut | date('d/m/y H:i')}}</td>
                        <td>{{ chaqueSortie.dateCloture | date('d/m/y H:i')}}</td>
                        <td>{{ chaqueSortie.inscriptions | length}}/{{ chaqueSortie.nbinscriptionsmax }}</td>
                        <td>{{ chaqueSortie.etat.libelle }}</td>
                        <td>
                            {% if chaqueSortie.estInscrit(app.user) == 1  %}
                                Inscrit
                            {% else %}
                                Non Inscrit
                            {% endif%}
                        </td>
                        <td>{{ chaqueSortie.organisateur.username}}</td>
                        <td></td>
                    </tr>
                    {% else %}
                    <div class="list-group-item">Pas de résultats trouvés!</div>
                {% endfor %}
            </div>

        </table>
    </div>



{#    <h1>Liste des sorties</h1>#}

{#    <ul>#}
{#        {% for chaqueSortie in sorties %}#}
{#            <li id="sorties">#}
{#                <a id="" href="{{ path('_detail',{'sortie':chaqueSortie.id}) }}">{{ chaqueSortie.nom }}#}
{#                    <span id="infoSortie">#}
{#                      {{ chaqueSortie.lieu.nomLieu }}#}
{#                        {{ chaqueSortie.datedebut | date('d/m/y H:i')}}#}
{#                        {{ chaqueSortie.lieu.ville.nomVille}}#}
{#                    </span>#}
{#                </a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <a href="{{ path('_creer') }}">Organiser une nouvelle sortie</a>
{% endblock %}
