<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{asset('css/style.css') }}">
        {% block stylesheets %}
{#            {{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
{#            {{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header>
        <div id="logo">
        <img class="logo" src="" alt="logo sortir.com">
        <h1 class="logo">Sortir.com</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ path('_index') }}">Accueil</a></li>
                <li><a href="{{ path('_list') }}">Sorties</a></li>
                {% if app.user %}<li><a href="{{ path('_afficher')}}">Mon profil</a></li>{% endif %}
                <li><a href="{{ app.user ? path('logout_logout') : path('login_login') }}">{{ app.user ? 'Déconnexion' : 'Connexion' }}</a></li>
                {% if app.user %}<li id="userHome">Vous êtes connecté avec le compte "{{ app.user.username }}"</li>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">Admin</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Sortir.com {{ 'now' | date('Y') }}</p>
    </footer>
    </body>
</html>
